a:link{
    color: blue;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}

a:visited{
    color: purple;
}

.menu{
    list-style-type: none;
}

.menu li{
    padding: 5px;
    margin: 5px;
}