nav{
    display: flex;
    gap: 20px;
}

img{
    width: 30%;
}

@media screen and (max-width:768px){

    nav{
        flex-direction: column;
    }

    img{
        width: 80%;
    }

    body{
        font-size: 14px;
    }
}